---
openapi: 3.1.0
info:
  title: Curator Gateway Plugin
  description: >
    Evidence-based operation gating for FountainAI gateway.
  version: 1.0.0
servers:
  - url: http://curator-gateway.fountain.coach/api/v1
paths:
  /curator/check:
    post:
      tags:
        - Curator
      summary: Check operation evidence
      description: Checks whether an operation is allowed with curator-provided evidence.
      operationId: curatorCheck
      x-fountain.visibility: public
      x-fountain.reason: ""
      x-fountain.allow-as-tool: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CuratorCheckRequest'
      responses:
        '200':
          description: Allowance decision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CuratorCheckResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    CuratorCheckRequest:
      title: CuratorCheckRequest
      type: object
      required:
        - operationId
      properties:
        operationId:
          type: string
          title: Operationid
    CuratorCheckResponse:
      title: CuratorCheckResponse
      type: object
      required:
        - allowed
      properties:
        allowed:
          type: boolean
          title: Allowed
        evidence:
          type: string
          title: Evidence
          nullable: true
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          type: array
          title: Detail
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      type: object
      required:
        - loc
        - msg
        - type
      properties:
        loc:
          type: array
          title: Location
          items:
            anyOf:
              - type: string
              - type: integer
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
© 2025 Contexter alias Benedikt Eickhoff 🛡️ All rights reserved.
