---
openapi: 3.1.0
info:
  title: Destructive Guardian Gateway Plugin
  description: >
    Evaluates potentially destructive requests and returns allow/deny decisions.
  version: 1.0.0

x-persona: ../personas/destructive-guardian.md
servers:
  - url: http://destructive-guardian.fountain.coach/api/v1
paths:
  /guardian/evaluate:
    post:
      tags:
        - DestructiveGuardian
      summary: Evaluate request
      description: Evaluates a request and returns an allow or deny decision.
      operationId: guardianEvaluate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuardianEvaluateRequest'
      responses:
        '200':
          description: Evaluation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GuardianEvaluateResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    GuardianEvaluateRequest:
      title: GuardianEvaluateRequest
      type: object
      required:
        - method
        - path
      properties:
        method:
          type: string
          title: Method
        path:
          type: string
          title: Path
        manualApproval:
          type: boolean
          title: Manualapproval
        serviceToken:
          type: string
          title: Servicetoken
    GuardianEvaluateResponse:
      title: GuardianEvaluateResponse
      type: object
      required:
        - decision
      properties:
        decision:
          type: string
          title: Decision
          enum:
            - allow
            - deny
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          type: array
          title: Detail
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      type: object
      required:
        - loc
        - msg
        - type
      properties:
        loc:
          type: array
          title: Location
          items:
            anyOf:
              - type: string
              - type: integer
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type

© 2025 Contexter alias Benedikt Eickhoff 🛡️ All rights reserved.
